<div class="px-20 py-5 flex gap-3">
    <div class="w-1/4 bg-white rounded-lg shadow-sm p-4">
        <h1 class="uppercase text-[#239b73] text-xl text-center font-bold tracking-wider">Filter</h1>
        <div class="grid justify-center w-full ">
            <button id="dropdownCheckboxButton" data-dropdown-toggle="dropdownDefaultCheckbox1"
                class="relative w-48 tracking-wider  bg-gray-200 text-[#239b73] font-bold hover:bg-gray-300 focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center inline-flex place-content-center"
                type="button">Movie Name<svg class="w-2.5 h-2.5 ms-3 mt-2" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownDefaultCheckbox1" class="z-10 hidden w-48 bg-white divide-y rounded-lg shadow">
                <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownCheckboxButton">
                    <li>
                        <div class="flex items-center">
                            <input id="checkbox-item-1" type="checkbox" value=""
                                class="w-4 h-4 text-[#239b73] bg-gray-100 rounded focus:outline-none">
                            <label for="checkbox-item-1" class="ms-2 text-sm font-medium text-[#6C6969]">Default
                                checkbox</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid justify-center w-full pt-5">
            <button id="dropdownCheckboxButton" data-dropdown-toggle="dropdownDefaultCheckbox2"
                class="relative w-48 tracking-wider  bg-gray-200 text-[#239b73] font-bold hover:bg-gray-300 focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center inline-flex place-content-center"
                type="button">Spices<svg class="w-2.5 h-2.5 ms-3 mt-2" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownDefaultCheckbox2" class="z-10 hidden w-48 bg-white divide-y rounded-lg shadow">
                <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownCheckboxButton">
                    <li>
                        <div class="flex items-center">
                            <input id="checkbox-item-1" type="checkbox" value=""
                                class="w-4 h-4 text-[#239b73] bg-gray-100 rounded focus:outline-none">
                            <label for="checkbox-item-1" class="ms-2 text-sm font-medium text-[#6C6969]">Default
                                checkbox</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid justify-center w-full pt-5">
            <button id="dropdownCheckboxButton" data-dropdown-toggle="dropdownDefaultCheckbox3"
                class="relative w-48 tracking-wider  bg-gray-200 text-[#239b73] font-bold hover:bg-gray-300 focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center inline-flex place-content-center"
                type="button">Movie Name<svg class="w-2.5 h-2.5 ms-3 mt-2" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownDefaultCheckbox3" class="z-10 w-48 hidden bg-white divide-y rounded-lg shadow">
                <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownCheckboxButton">
                    <li>
                        <div class="flex items-center">
                            <input id="checkbox-item-1" type="checkbox" value=""
                                class="w-4 h-4 text-[#239b73] bg-gray-100 rounded focus:outline-none">
                            <label for="checkbox-item-1" class="ms-2 text-sm font-medium text-[#6C6969]">Default
                                checkbox</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid justify-center w-full pt-5">
            <button id="dropdownCheckboxButton" data-dropdown-toggle="dropdownDefaultCheckbox4"
                class="relative w-48 tracking-wider  bg-gray-200 text-[#239b73] font-bold hover:bg-gray-300 focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center inline-flex place-content-center"
                type="button">Movie Name<svg class="w-2.5 h-2.5 ms-3 mt-2" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownDefaultCheckbox4" class="z-10 w-48 hidden bg-white divide-y rounded-lg shadow">
                <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownCheckboxButton">
                    <li>
                        <div class="flex items-center">
                            <input id="checkbox-item-1" type="checkbox" value=""
                                class="w-4 h-4 text-[#239b73] bg-gray-100 rounded focus:outline-none">
                            <label for="checkbox-item-1" class="ms-2 text-sm font-medium text-[#6C6969]">Default
                                checkbox</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid justify-center w-full pt-5">
            <button id="dropdownCheckboxButton" data-dropdown-toggle="dropdownDefaultCheckbox5"
                class="relative w-48 tracking-wider  bg-gray-200 text-[#239b73] font-bold hover:bg-gray-300 focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center inline-flex place-content-center"
                type="button">Movie Name<svg class="w-2.5 h-2.5 ms-3 mt-2" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownDefaultCheckbox5" class="z-10 w-48 hidden bg-white divide-y rounded-lg shadow">
                <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownCheckboxButton">
                    <li>
                        <div class="flex items-center">
                            <input id="checkbox-item-1" type="checkbox" value=""
                                class="w-4 h-4 text-[#239b73] bg-gray-100 rounded focus:outline-none">
                            <label for="checkbox-item-1"
                                class="ms-2 text-sm tracking-wider font-medium text-[#6C6969]">Default
                                checkbox</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid justify-center w-full pt-5">
            <button
                class="relative tracking-wider  bg-white border-2 bi text-green-700 hover:text-white hover:bg-green-600 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
                type="button">Search</button>
        </div>
    </div>














    <div class="w-3/4 bg-white rounded-lg shadow-sm py-4 px-6">
        <h1 class="uppercase text-[#239b73] text-lg font-semibold tracking-wider">Search Results</h1>



        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                <thead class="text-xs text-gray-700 capitalize bg-[#F5F5F5]">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            SI. No
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Character Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            species
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Birth Year
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-[#E6E6E6] border-b hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap">
                            Apple MacBook Pro 17"
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            Silver
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            Laptop
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            $2999
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>