<div class="md:px-20 md:py-4 md:flex md:gap-3">
    <div class="w-1/4 h-[80vh] bg-white rounded-lg shadow-sm p-4 overflow-auto hidden md:block">
        <h1 class="uppercase text-[#239b73] text-xl text-center font-bold tracking-wider">Filter</h1>
        <div class="grid justify-center w-full ">
            <button id="dropdownCheckboxButton" data-dropdown-toggle="dropdownDefaultCheckbox1" (click)="openMoviveName()"
                class="relative w-48 tracking-wider  bg-gray-200 text-[#239b73] font-bold hover:bg-gray-300 focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center inline-flex place-content-center"
                type="button">Movie Name<svg class="w-2.5 h-2.5 ms-3 mt-2" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div class="z-10 w-48 bg-white divide-y rounded-lg shadow" *ngIf="moviedropDown">
                <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownCheckboxButton">
                    <li *ngFor="let name of people">
                        <div class="flex items-center">
                            <input id="checkbox-item-{{name.name}}" type="checkbox" [value]="name.name"
                                (change)="onFilterChange('name', $event)"
                                class="w-4 h-4 text-[#239b73] bg-gray-100 rounded focus:outline-none">
                            <label for="checkbox-item-{{name.name}}"
                                class="ms-2 text-sm font-medium text-[#6C6969]">{{name.name}}</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid justify-center w-full pt-5">
            <button id="dropdownCheckboxButton" data-dropdown-toggle="dropdownDefaultCheckbox2"
                class="relative w-48 tracking-wider  bg-gray-200 text-[#239b73] font-bold hover:bg-gray-300 focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center inline-flex place-content-center"
                type="button">Spices<svg class="w-2.5 h-2.5 ms-3 mt-2" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownDefaultCheckbox2" class="z-10 hidden w-48 bg-white divide-y rounded-lg shadow">
                <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownCheckboxButton">
                    <li *ngFor="let species of speciesList">
                        <div class="flex items-center">
                            <input id="checkbox-item-{{species.species}}" type="checkbox" [value]="species.species"
                                (change)="onFilterChange('species', $event)"
                                class="w-4 h-4 text-[#239b73] bg-gray-100 rounded focus:outline-none">
                            <label for="checkbox-item-{{species.species}}"
                                class="ms-2 text-sm font-medium text-[#6C6969]">{{species.species}}</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid justify-center w-full pt-5">
            <button id="dropdownCheckboxButton" data-dropdown-toggle="dropdownDefaultCheckbox3"
                class="relative w-48 tracking-wider  bg-gray-200 text-[#239b73] font-bold hover:bg-gray-300 focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center inline-flex place-content-center"
                type="button">Vehicle<svg class="w-2.5 h-2.5 ms-3 mt-2" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownDefaultCheckbox3" class="z-10 w-48 hidden bg-white divide-y rounded-lg shadow">
                <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownCheckboxButton">
                    <li *ngFor="let vehicles of vehiclesList">
                        <div class="flex items-center">
                            <input id="checkbox-item-{{vehicles.vehicles}}" type="checkbox" [value]="vehicles.vehicles"
                                (change)="onFilterChange('vehicles', $event)"
                                class="w-4 h-4 text-[#239b73] bg-gray-100 rounded focus:outline-none">
                            <label for="checkbox-item-{{vehicles.vehicles}}"
                                class="ms-2 text-sm font-medium text-[#6C6969]">{{vehicles.vehicles}}</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid justify-center w-full pt-5">
            <button id="dropdownCheckboxButton" data-dropdown-toggle="dropdownDefaultCheckbox4"
                class="relative w-48 tracking-wider  bg-gray-200 text-[#239b73] font-bold hover:bg-gray-300 focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center inline-flex place-content-center"
                type="button">Star Ships<svg class="w-2.5 h-2.5 ms-3 mt-2" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownDefaultCheckbox4" class="z-10 w-48 hidden bg-white divide-y rounded-lg shadow">
                <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownCheckboxButton">
                    <li *ngFor="let starships of starshipsList">
                        <div class="flex items-center">
                            <input id="checkbox-item-{{starships.starships}}" type="checkbox" [value]="starships.starships"
                                (change)="onFilterChange('starships', $event)"
                                class="w-4 h-4 text-[#239b73] bg-gray-100 rounded focus:outline-none">
                            <label for="checkbox-item-{{starships.starships}}"
                                class="ms-2 text-sm font-medium text-[#6C6969]">{{starships.starships}}</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid justify-center w-full pt-5">
            <button id="dropdownCheckboxButton" data-dropdown-toggle="dropdownDefaultCheckbox5" (click)="openBirthYear()"
                class="relative w-48 tracking-wider  bg-gray-200 text-[#239b73] font-bold hover:bg-gray-300 focus:outline-none rounded-lg text-sm px-5 py-2.5 text-center inline-flex place-content-center"
                type="button">Birth Year<svg class="w-2.5 h-2.5 ms-3 mt-2" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div class="z-10 w-48 bg-white divide-y rounded-lg shadow" *ngIf="birthDropDown">
                <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownCheckboxButton">
                    <li *ngFor="let birth of people">
                        <div class="flex items-center">
                            <input id="checkbox-item-{{birth.birth_year}}" type="checkbox" [value]="birth.birth_year"
                                (change)="onFilterChange('birth_year', $event)"
                                class="w-4 h-4 text-[#239b73] bg-gray-100 rounded focus:outline-none">
                            <label for="checkbox-item-{{birth.birth_year}}"
                                class="ms-2 text-sm font-medium text-[#6C6969]">{{birth.birth_year}}</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-full md:w-3/4 bg-white rounded-lg shadow-sm py-4 px-3 md:px-6">
        <h1 class="uppercase text-[#239b73] text-lg font-semibold tracking-wider">Search Results</h1>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                <thead class="text-xs text-gray-700 capitalize bg-[#F5F5F5]">
                    <tr>
                        <th scope="col" class="px-6 py-3">SI. No</th>
                        <th scope="col" class="px-6 py-3">Movie Name</th>
                        <th scope="col" class="px-6 py-3">Species</th>
                        <th scope="col" class="px-6 py-3">Birth Year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of filteredPeople | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index"
                        class="bg-[#E6E6E6] border-b hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap">{{(p - 1) * itemsPerPage + i + 1}}.</td>
                        <td class="px-6 py-4 whitespace-nowrap  cursor-pointer" [routerLink]="['/profile', data.id]">{{
                            data.name }}</td>
                        <td class="px-6 py-4 whitespace-nowrap` cursor-pointer">{{data.species}}</td>
                        <td class="px-6 py-4 whitespace-nowrap  cursor-pointer">{{data.birth_year}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="py-3">
        <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>
    </div>
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->


        <!-- <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="mat-table">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> SI.No </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }}. </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                </ng-container>

                <ng-container matColumnDef="species">
                    <th mat-header-cell *matHeaderCellDef> Species </th>
                    <td mat-cell *matCellDef="let element">{{element.species}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> Birth Year </th>
                    <td mat-cell *matCellDef="let element"> {{element.birth_year}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div> -->


    </div>
</div>

